﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AddUserAdmin.aspx.cs" Inherits="StudentScoreManageSite.AddUserAdmin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
  <body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<FONT face="宋体">
				<TABLE id="Table1" cellSpacing="1" cellPadding="1" width="300" border="1">
					<TR>
						<TD style="WIDTH: 69px">登录用户名称:</TD>
						<TD>
							<asp:TextBox id="txtUserName" runat="server"></asp:TextBox>
							<asp:RequiredFieldValidator id="RequiredFieldValidator1" runat="server" ErrorMessage="必填" ControlToValidate="txtUserName">

							</asp:RequiredFieldValidator></TD>
					</TR>
					<TR>
						<TD style="WIDTH: 69px">初始密码：</TD>
						<TD>
							<asp:TextBox id="txtPassWord" runat="server"></asp:TextBox>
                            <asp:RequiredFieldValidator id="RequiredFieldValidator2" runat="server" ErrorMessage="必填" ControlToValidate="txtPassWord">

							</asp:RequiredFieldValidator>
						</TD>
					</TR>
                    <tr>
                        <TD style="WIDTH: 69px">权限</TD>
                        <TD> <asp:DropDownList id="DropDownList1" runat="server" AutoPostBack="True"></asp:DropDownList>&nbsp;&nbsp;&nbsp;&nbsp;
							<asp:Label id="Label1" runat="server"></asp:Label>&nbsp;
							<asp:Button id="Button2" runat="server" Text="删除所选组"></asp:Button>&nbsp;
							<asp:Button id="Button3" runat="server" Text="添加新组"></asp:Button></TD>
                       
                    </tr>
					<TR>
						<TD style="WIDTH: 69px"></TD>
						<TD>
							<asp:Button id="Button1" runat="server" Text="添 加"></asp:Button></TD>
					</TR>
					<TR>
						<TD style="WIDTH: 69px"></TD>
						<TD></TD>
					</TR>
				</TABLE>
			</FONT>
		</form>
	</body>
</body>
</html>
